Flask==2.0.2
gunicorn
mysql-connector-python==8.0.33
cvzone
mediapipe
omegaconf
albumentations
opencv-python
imageio
imageio-ffmpeg
pytorch-lightning
test-tube
streamlit
einops
protobuf
torchmetrics
transformers
kornia
gradio
ultralytics
pyodbc
