<!DOCTYPE html>
<html>
    <head>
        <title>Face Votering System</title>
    </head>

    <body style="background-image: url({{ url_for('static', filename='vote.jpg') }});">
        <h1 style="text-align: center; color: aliceblue;">Face Votering System</h1>
        <hr>
   
        <div>
            <button onclick="window.location.href='register.html'" style="background-color: red; color: aliceblue; font-size: 40px; padding: 20px; position: absolute; top: 300px; left: 45%;">Register</button><br/><br>
            <button onclick="window.location.href='login.html'" style="background-color: green; font-size: 35px; padding: 20px; position: absolute; top: 400px; left: 46.6%;">Login</button><br>
        </div>
   
        //<img src="{{ url_for('static', filename='vote.jpg') }}" alt="Vote Image" style="width: 100%; height: auto;">
    </body>

    <style>
        body {
            background-color: #000;
        }
    </style>
</html>
